body {
    font-family: Arial, sans-serif;
    background-color: #333;
    padding: 20px;
    color : #fff;

  }
  #login{
    margin: 30px 10px;
  }
  #usernameInput{
    padding: 5px;
  }

  #login button{
    padding: 5px;
  }

  /* 90% 		 #e6e6e6
85% 		 #d9d9d9
80% 		 #ccccc */


  h1{
    color: #d9d9d9;
    font: 2rem D-DIN-Bold,Arial,Verdana,sans-serif;
    font-weight: bold;
  }
  h3{
    color: #fff;
    font: 1.2rem D-DIN-Bold,Arial,Verdana,sans-serif;
    margin : 20px 10px;
  }

  #chatBox {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
  }

  #chatBox div{
    padding: 10px;
  }
  #users {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #userList li{
    padding: 7px 0px;
  }

  #messageInput {
    display: flex;
  }
  #messageInput input {
    flex-grow: 1;
    padding: 7px;
  }
  #messageInput button {
    padding: 5px 10px;
  }

  li:hover{
    cursor: pointer;
  }


  #keyDisplay{
    position: relative;
  }
  #keyDisplay h3{
    font-weight: bold;
  }
  
  #publicKeyDisplay{
    margin-left: 20px;
    width: 340px;
    height: 31px;
  }
  #keyDisplay button{
    margin-left: 5px;
    height: 30px;
    position: absolute;
    margin-top: 7px;
  }